.form {
  text-align: center;
}

#form-search {
  width: 450px;
  line-height: 32px;
  padding: 20px 10px;
}

.form #form-search {
  padding: 0 8px;
}

#form-search:hover {
  border-color: #e4e4e4;
  padding-top: 0;
}
#button{
  padding: 20px 10px;
}
img{
  background-color: transparent;
  height: 22px;
  width: 20px
}
